@charset "UTF-8";

form{
	border: 10px solid #ffffff;
	border-radius: 5%;
    width: 70%;
    margin: auto;
    color: #ffffff;
}
.est{
    width: 50%;
    height: 20px;
}

legend{
    font-family: sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: #ffffff;
}

fieldset{
    width: 90%;
    margin: 2%;
    border-color: #ffffff;
}

fieldset#sexo{
    width: 70%;
}
fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}
fieldset#endereco {
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}
fieldset#mensagen {
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}
fieldset#pedido {
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}

#cDate{
    width: 40%;
    
}

.bot{
    width: 30%;
    color: red;
    height: 30px;
}
