@charset "UTF-8";
/* inicio do radio*/
#radio{
    width: 40%;
    float: right;
    background: url("../_imagens/radio1.png") no-repeat;
    background-size: 100%;
    height: 425px;
}

#musica{
    margin-top: 85px;
    width: 85%;
    margin-left: 7%;
}
/* fim do radio*/

/* inicio da tv*/
#tv{
    width: 50%;
    background: url("../_imagens/tv1.png") no-repeat;
    background-size: 100%;
    height: 500px; 
}

#filme{
    width: 99.9%;
    margin: 10px auto 0 auto; 
    height: 400px;
}

